canvas{
    position: absolute;
    top :0;
    left: 0;
    margin: 0;
    padding: 0;
}

#helpButton{

    background-color: Red;
    border-radius: 1000px;
    position: absolute;
    top: 25px;
    right:50px;
    text-decoration: none;
    user-select: none;
}