canvas{
    position: absolute;
    top :0;
    left: 0;
    margin: 0;
    padding: 0;
}

#helpButton{
    background-color: Red;
    border-radius: 10vmin;
    position: absolute;
    top: 3vh;
    right:3vw;
    text-decoration: none;
    user-select: none;
}

h1{
    font-style: normal;
    font-size: 4vw;
    color: red;
    margin: 2vh;
}

ul{
    font-style: normal;
    font-size: 4vw;
    color: red;;
}

li{
    margin: 2vh;
}