canvas{
    position: absolute;
    top :0;
    left: 0;
    margin: 0;
    padding: 0;
}

#helpButton{
    background-color: Red;
    border-radius: 10vmin;
    position: absolute;
    top: 3vh;
    right:3vw;
    text-decoration: none;
    user-select: none;
}